*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial;

}

body{

height:100vh;

display:flex;

justify-content:center;
align-items:center;

background:

linear-gradient(
135deg,
#002654,
#ffffff,
#ed2939
);

}

.login-box{

width:350px;

background:white;

padding:30px;

border-radius:20px;

box-shadow:
0 10px 30px rgba(0,0,0,0.2);

display:flex;

flex-direction:column;

gap:15px;

}

h1{

text-align:center;

color:#002654;

}

p{

text-align:center;

color:#666;

}

input{

padding:12px;

border:1px solid #ddd;

border-radius:10px;

}

button{

padding:12px;

background:#002654;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

button:hover{

background:#001a3a;

}

a{

text-align:center;

text-decoration:none;

color:#ed2939;

}
